
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/about/all">About </a>
<br />
<br />

<a href="/team/all">Teams - View All</a>
<br />
<a href="/player/all">Players - View All</a>
<br />
<a href="/coach/all">Coaches - View All</a>
<br />
<a href="/playerstats/all">Player Stats - View All </a>
<br />
<br />
<a href="/player/playerassists">Player Assists & Plus / Minus</a>


<%- include("./includes/footer.ejs"); %>
