<%- include("../includes/header.ejs", {title:"team - " + result[0].team_name}); %>
<h1><%=result[0].name%></h1>
<ul>
    <li>Location: <%= result[0].location %></li>
    <li>Team Info:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].location + ' ' + result[i].name %></li>
            <li><%= 'Record: ' + result[i].wins + '-' + result[i].losses%></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/team/all"><< back</a>

<%- include("../includes/footer.ejs"); %>