<%- include("../includes/header.ejs", {title:"Team - View All"}); %>

<h1>Pacific Division Teams</h1>


<br />

<table class="table table-striped">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/team/?team_id=<%= result[i].team_id %>"><%= result[i].location%> <%= result[i].name%>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/team/edit/?team_id=<%= result[i].team_id %>'"class="btn btn-warning">Edit</button>
            <form action="/team/delete/" style="display:inline;">
                <input type="hidden" name="team_id" id="team_id" value="<%= result[i].team_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>