<%- include("../includes/header.ejs", {title: "Update " + team.name}); %>

<h1>Update <%= team.name%></h1>
<form action="/team/update" method="get">
    <input type="hidden" id="team_id" name="team_id" value="<%= team.team_id %>">
    Team Name: <input id="name" name="name" type="text" value="<%= team.name%>"/>
    <br />
    <br />
    Location: <input id="location" name="location" type="text" value="<%= team.location%>"/>
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>