<%- include("../includes/header.ejs", {title:"skill - View All"}); %>

<h1>National Basketball League Statistics</h1>

<br />
<p>This is the database for the National Basketball League. Here you will find</p>
<p>information pertaining to the starters of the Pacific Division in the Western</p>
<p>Conference. You will able to find out information about the players' points</p>
<p>per game, assists per game, rebounds per game, and more. This information</p>
<p>will be regarding the 2016-2017 NBA season. The user will also</p>
<p>be able to modify the statistics of these players, add new players and more.</p>
<br />
<br />
<a href="/images/ERDiagram.jpeg"> The ER Diagram</a>
<br />
<a href="/images/RelationalS.jpeg"> The Relational Schema</a>

<%- include("../includes/footer.ejs"); %>