<%- include("../includes/header.ejs", {title:"team - " + result[0].team_name}); %>
<h1><%=result[0].name%></h1>
<ul>
    <li>Coach Info:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= 'Team: ' + result[i].team %></li>
            <li><%= 'Career Win Loss Ratio: ' + result[i].WinLossRatio %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/coach/all"><< back</a>

<%- include("../includes/footer.ejs"); %>