<%- include("../includes/header.ejs", {title:"skill - View All"}); %>

<h1>Pacific Division Coaches</h1>


<br />

<table class="table table-striped">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/coach/?coach_id=<%= result[i].coach_id %>"><%= result[i].location%> <%= result[i].name%>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/coach/edit/?coach_id=<%= result[i].name %>'"class="btn btn-warning">Edit</button>
            <form action="/coach/delete/" style="display:inline;">
                <input type="hidden" name="coach_id" id="coach_id" value="<%= result[i].coach_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>