<%- include("../includes/header.ejs", {title:"Stats - View All"}); %>

<h1>Pacific Division Players</h1>


<br />

<table class="table table-striped">
    <tr><th>Minutes per game </th><th>Points per game </th><th>Field Goal %</th><th>Three Point %
        </th><td>Assists per game</td><td>Plus/minus</td><td>O rebounds per game</td>
        <td>D rebounds per game</td><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td>
            <%= result[i].minutes_per_game%>
        </td>
        <td>
            <%= result[i].points_per_game%>
        </td>
        <td>
            <%= result[i].field_goal_percentage%>
        </td>
        <td>
            <%= result[i].three_point_percentage%>
        </td>
        <td>
            <%= result[i].assists_per_game %>
        </td>
        <td>
            <%= result[i].plus_minus%>
        </td>
        <td>
            <%= result[i].offensive_rebounds_per_game%>
        </td>
        <td>
            <%= result[i].defensive_rebounds_per_game%>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/playerstats/edit/?stats_id=<%= result[i].minutes_per_game %>'">Edit</button>
            <form action="/playerstats/delete/" style="display:inline;">
                <input type="hidden" name="stats_id" id="stats_id" value="<%= result[i].stats_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>