<%- include("../includes/header.ejs", {title:"team - " + result[0].team_name}); %>
<h1><%=result[0].name%></h1>
<ul>
    <li>Player Info:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= 'Number: ' + result[i].number + ', ' + result[i].name %></li>
            <li><%= 'Position: ' + result[i].position %></li>
            <li><%= 'Age: ' + result[i].age %></li>
            <li><%= 'College: ' + result[i].college %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/player/all"><< back</a>

<%- include("../includes/footer.ejs"); %>