<%- include("../includes/header.ejs", {title:"Stats - View All"}); %>

<h1>Pacific Division Players</h1>

<p>*View*</p>
<br/>
<p>Returns the only 5 players along with their assists per game and plus/minus.</p>

<br />

<table class="table table-striped">
    <tr><th>Player </th><th>Assists Per Game </th><th>Plus Minus</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td>
            <%= result[i].name%>
        </td>
        <td>
            <%= result[i].assists_per_game%>
        </td>
        <td>
            <%= result[i].plus_minus%>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>