<%- include("../includes/header.ejs", {title:"Add New player"}); %>
<h1>Add New Player</h1>
<form action="/player/insert" method="get">
    Player Name: <input id="name" name="name" type="text" />
    <br />
    <br />
    Player Number: <input id="number" name="number" type="text" >
    <br />
    <br />
    Player Position: <input id="position" name="position" type="text" >
    <br />
    <br />
    Player College: <input id="college" name="college" type="text" >
    <br />
    <br />
    Player Age: <input id="age" name="age" type="text" >
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>