<%- include("../includes/header.ejs", {title:"skill - View All"}); %>

<h1>Pacific Division Players</h1>

<h1>Address</h1>
<a href="/player/add">Add New Player</a> <br />

<br />

<table class="table table-striped">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/player/?player_id=<%= result[i].player_id %>"><%= result[i].location%> <%= result[i].name%>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/player/edit/?player_id=<%= result[i].name %>'"class="btn btn-warning">Edit</button>
            <form action="/player/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>